*{
     
     margin: 0;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     
     box-sizing:border-box;
     width: auto;
     height: auto;
     
     
     
}
#logo{
     height: 150px;
     width: 150px;
     animation: rotate 10s linear  infinite;

}
body{
     padding-top: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
     height: 100%;
}
html{
     padding: 0;
     margin: 0;
    height: 100%;
     background: linear-gradient(to right top, yellow, blue);

}


h1{
     text-align: center;
      font-family: Arial, Helvetica, sans-serif;
}

.buttons{
    border: 10px;
    padding-bottom: 200px;
     display: grid;
     flex-direction: column;
     align-items: center;
     justify-content: center;
   

     
}
.button25{
  border-radius: 25px;
  font-size: 20px;
  background: linear-gradient(to right,  rgb(248, 249, 246), rgb(98, 3, 3));
  width: 200px;
  backdrop-filter: blur(8px);
  padding: 5px;
  border: solid;
}


.pic_metal{
     
     display: flex;
     justify-content: center;
     
     
}

.container{
    
     
     background: linear-gradient(to right top, rgba(20, 1, 1, 0.75), rgba(0, 0, 0, 0.25));
     overflow: hidden;
     border-radius: 20px;
    /* position: relative;/*umiejscowienie wzgledne */
     top: 10px;
     backdrop-filter: blur(8px);
     height: 67vh;
           
}
  

.copyrights{
     display: flex;
     align-items: center;
     

}

@keyframes rotate{
    rotateX{transform: rotateX(0) ;}
    to{transform: rotateX(100);}
}

